<h1>FAQ</h1>

<p>Welcome to the FAQs. Right now, we have <strong>{{questions.length}}</strong> questions.</p>

<hr>

<h3>Questions</h3>
{{!-- easiest way in the world to loop through questions --}}

{{#questions}}
	<li>{{this}}</li>
{{/questions}}

<h3>Answers</h3>
{{#answers}}
	<li>{{this}}</li>
{{/answers}}